<app-header title="Homizer-Item"></app-header>
<div class="homizer-input" *ngIf="homizerItem">
  <div>
    <img class="homizer-edit-image" src="{{homizerItem.image}}" (click)="openImageDialog(homizerItem.image)">
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput type="text" [(ngModel)]="homizerItem.name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput type="text" [(ngModel)]="homizerItem.description">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Number</mat-label>
    <input matInput type="number" [(ngModel)]="homizerItem.number">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Storage</mat-label>
    <mat-select [(ngModel)]="homizerItem.homizerStorageId">
      @for (storage of homizerStorageDtos; track storage) {
        <mat-option [value]="storage.id">{{ storage.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <div class="homizer-button">
    <input #csvInput hidden="hidden" type="file" onclick="this.value=null" (change)="onFileSelected($event)"/>
    <button mat-raised-button (click)="csvInput.click()">
      <mat-icon>attach_file_add</mat-icon>
      Add a picture
    </button>
  </div>
  <div class="homizer-button">
    <button mat-raised-button
            (click)="onEditHomizerItem(homizerItem.id, homizerItem.name, homizerItem.description, homizerItem.image, homizerItem.number, homizerItem.homizerStorageId)">
      <mat-icon>save</mat-icon>
      Save
    </button>
    <button mat-raised-button
            (click)="onDeleteHomizerItem(homizerItem.id)">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </div>
</div>

<app-navigation-bar title="homizer-item"></app-navigation-bar>

