<app-header title="Homizer"></app-header>
<div class="homizer-edit-input" *ngIf="homizerItem">
    <div>
        <input class="homizer-edit-input-field" type="text" [(ngModel)]="homizerItem.name" placeholder="Name" required>
    </div>
    <div>
        <input class="homizer-edit-input-field" type="text" [(ngModel)]="homizerItem.description" placeholder="Description">
    </div>
    <div>
        <input class="homizer-edit-input-field" type="text" [(ngModel)]="homizerItem.image" placeholder="Image URL">
    </div>
    <div>
        <input class="homizer-edit-input-field" type="number" [(ngModel)]="homizerItem.number" placeholder="Number" required>
    </div>
    <div>
        <button class="homizer-button" 
        (click)="onEditHomizerItem(
            homizerItem.id,
            homizerItem.name,
            homizerItem.description,
            homizerItem.image,
            homizerItem.number
        )"
        >Save</button>
    </div>
    <div>
        <button class="homizer-button" 
        (click)="onDeleteHomizerItem(
            homizerItem.id
        )"
        >Delete</button>
    </div>
</div>

