apiVersion: apps/v1  # Definiert die API-Version für ein Deployment
kind: Deployment     # Art der Ressource, hier ein Deployment
metadata:
  name: multi-backend # Der Name des Deployments
spec:
  replicas: 1         # Anzahl der Replikate (wie viele Pods du haben willst)
  selector:
    matchLabels:
      app: multi-backend # Das Label zum Identifizieren der Pods
  template:
    metadata:
      labels:
        app: multi-backend # Labels für die Pods
    spec:
      containers:
        - name: backend
          image: docker.io/${{ secrets.DOCKER_USERNAME }}/multi-app-backend:latest # Docker-Image
          ports:
            - containerPort: 8080 # Port, der im Container freigegeben wird
      imagePullSecrets:
        - name: dockerhub-secret # Secret für den Zugriff auf private Docker-Images
