<app-header title="Homizer-Item"></app-header>

<div class="item-and-storage-filter-container">
  <mat-form-field appearance="fill">
    <mat-label>Item search</mat-label>
    <input matInput type="text" id="filterInput" [(ngModel)]="filterText" (input)="applyFilter()">
  </mat-form-field>
</div>

<div *ngIf="isLoading" class="loading-spinner">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading">

  <div *ngIf="showNoItemsMessage; else itemList">
    <div class="empty-homizer-item-and-storage">

      No Homizer-Items found!

    </div>
  </div>

  <ng-template #itemList>
    <div class="homizer-item-and-storage-list">
      <div class="homizer-item-and-storage" *ngFor="let homizerItem of filteredHomizerItems"
           [routerLink]="['/homizer-item-edit-page', homizerItem.id]">

        <div class="homizer-item-and-storage-content">
          <div class="homizer-item-and-storage-text">
            <p>Name: {{ homizerItem.name }}</p>
            <p>Description: {{ homizerItem.description }}</p>
            <p>Number: {{ homizerItem.number }}</p>
            <p>Storage: {{ homizerItem.homizerStorageName }}</p>
          </div>

          <div class="homizer-item-image" *ngIf="homizerItem.image">
            <img [src]="homizerItem.image" alt="Homizer Item Image">
          </div>
        </div>

      </div>
    </div>
  </ng-template>
</div>

<app-navigation-bar title="homizer-item"></app-navigation-bar>
