.homizer-item-list {
  text-align: center;
  margin-bottom: 90px;
}

.empty-homizer-item {
  background-color: rgba(251, 61, 61, 0.76);
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homizer-item {
  background-color: rgba(90, 173, 245, 0.76);
  margin: 10px;
  padding: 1px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}

.homizer-item-content {
  display: flex;
  width: 100%;
  align-items: center;
}

.homizer-item-text {
  flex: 2;
  text-align: left;
  margin-left: 10px;
}

.homizer-item-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.homizer-item-image img {
  max-width: 100px;
  height: auto;
  border-radius: 5px;
}

