<app-header title="Homizer-Item"></app-header>

<div class="item-filter-container">
  <mat-form-field appearance="fill">
    <mat-label>Item search</mat-label>
    <input matInput type="text" id="filterInput" [(ngModel)]="filterText" (input)="applyFilter()">
  </mat-form-field>
</div>

<div class="homizer-item-list" *ngIf="filteredHomizerItems && filteredHomizerItems.length > 0; else noItems">
  <div class="homizer-item" *ngFor="let homizerItem of filteredHomizerItems"
       [routerLink]="['/homizer-item-edit-page', homizerItem.id]">

    <div class="homizer-item-content">
      <div class="homizer-item-text">
        <p>Name: {{ homizerItem.name }}</p>
        <p>Description: {{ homizerItem.description }}</p>
        <p>Number: {{ homizerItem.number }}</p>
        <p>Storage: {{ homizerItem.homizerStorageName }}</p>
      </div>

      <div class="homizer-item-image" *ngIf="homizerItem.image">
        <img [src]="homizerItem.image" alt="Homizer Item Image">
      </div>
    </div>

  </div>
</div>

<ng-template #noItems>
  <div class="empty-homizer-item" *ngIf="showNoItemsMessage">
    Homizer-Item-List is empty!
  </div>
</ng-template>

<app-navigation-bar title="homizer-item"></app-navigation-bar>
