.homizer-storage-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.homizer-storage-image img {
  max-height: 130px;
  max-width: 130px;
  height: auto;
  border-radius: 5px;
}
