.homizer-storage-list {
  text-align: center;
  margin-bottom: 90px;
}

.homizer-storage {

}

.empty-homizer-storage {
  background-color: rgba(251, 61, 61, 0.76);
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homizer-storage {
  background-color: rgba(90, 173, 245, 0.76);
  margin: 10px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
  height: 150px;
}

.homizer-storage-content {
  display: flex;
  width: 100%;
  align-items: center;
}

.homizer-storage-text {
  flex: 2;
  text-align: left;
  margin-left: 10px;
}

.homizer-storage-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.homizer-storage-image img {
  max-height: 130px;
  max-width: 130px;
  height: auto;
  border-radius: 5px;
}

.storage-filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: -20px;
}
