<app-header title="Homizer-Storage"></app-header>

<div class="item-and-storage-filter-container">
  <mat-form-field appearance="fill">
    <mat-label>Storage search</mat-label>
    <input matInput type="text" id="filterInput" [(ngModel)]="filterText" (input)="applyFilter()">
  </mat-form-field>
</div>

<div *ngIf="isLoading" class="loading-spinner">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading">

  <div *ngIf="showNoStoragesMessage; else storageList">
    <div class="empty-homizer-item-and-storage">

      No Homizer-Storages found!

    </div>
  </div>

  <ng-template #storageList>
    <div class="homizer-item-and-storage-list">
      <div class="homizer-item-and-storage" *ngFor="let homizerStorage of filteredHomizerStorages"
           [routerLink]="['/homizer-storage-edit-page', homizerStorage.id]">

        <div class="homizer-item-and-storage-content">
          <div class="homizer-item-and-storage-text">
            <p>Name: {{ homizerStorage.name }}</p>
            <p>Description: {{ homizerStorage.description }}</p>
          </div>

          <div class="homizer-storage-image" *ngIf="homizerStorage.image">
            <img [src]="homizerStorage.image" alt="Homizer Storage Image">
          </div>
        </div>

      </div>
    </div>
  </ng-template>
</div>

<app-navigation-bar title="homizer-storage"></app-navigation-bar>
