<app-header title="Homizer-Storage"></app-header>

<div class="storage-filter-container">
  <mat-form-field appearance="fill">
    <mat-label>Storage search</mat-label>
    <input matInput type="text" id="filterInput" [(ngModel)]="filterText" (input)="applyFilter()">
  </mat-form-field>
</div>

<div class="homizer-storage-list" *ngIf="homizerStorages && homizerStorages.length > 0; else noItems">
  <div class="homizer-storage" *ngFor="let homizerStorage of filteredHomizerStorages"
       [routerLink]="['/homizer-storage-edit-page', homizerStorage.id]">

    <div class="homizer-storage-content">
      <div class="homizer-storage-text">
        <p>Name: {{ homizerStorage.name }}</p>
        <p>Description: {{ homizerStorage.description }}</p>
      </div>

      <div class="homizer-storage-image" *ngIf="homizerStorage.image">
        <img [src]="homizerStorage.image" alt="Homizer Storage Image">
      </div>
    </div>

  </div>
</div>

<ng-template #noItems>
  <div class="empty-homizer-storage" *ngIf="showNoStoragesMessage">
    Homizer-Storage-List is empty!
  </div>
</ng-template>

<app-navigation-bar title="homizer-storage"></app-navigation-bar>
