.homizer-storage-list {
  text-align: center;
  margin-bottom: 90px;
}

.homizer-storage {
  background-color: rgba(90, 173, 245, 0.76);
  margin: 10px;
  padding: 1px;
  border-radius: 25px;
}

.empty-homizer-storage {
  background-color: rgba(251, 61, 61, 0.76);
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
