<app-header title="Homizer-Item"></app-header>
<div class="homizer-edit-input" *ngIf="homizerStorage">
  <div>
    <img class="homizer-edit-image" src="{{homizerStorage.image}}" (click)="openImageDialog(homizerStorage.image)">
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput type="text" [(ngModel)]="homizerStorage.name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput type="text" [(ngModel)]="homizerStorage.description">
  </mat-form-field>
  <div class="homizer-button">
    <input #csvInput hidden="hidden" type="file" onclick="this.value=null" (change)="onFileSelected($event)"/>
    <button mat-raised-button (click)="csvInput.click()">
      <mat-icon>attach_file_add</mat-icon>
      Add a picture
    </button>
  </div>
  <div class="homizer-button">
    <button mat-raised-button
            (click)="onEditHomizerStorage(homizerStorage.id, homizerStorage.name, homizerStorage.description, homizerStorage.image)">
      <mat-icon>save</mat-icon>
      Save
    </button>
    <button mat-raised-button
            (click)="onDeleteHomizerStoragge(homizerStorage.id)">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </div>
</div>

<app-navigation-bar title="homizer-item"></app-navigation-bar>

