.homizer-edit-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
}

.homizer-edit-input-field {
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
}

.homizer-edit-image {
  max-height: 200px;
  max-width: 80%;
  margin: 15px auto;
  border-radius: 20px;
  display: block;
}


.homizer-item-list {
  text-align: center;
  margin-bottom: 90px;
}

.empty-homizer-item {
  background-color: rgba(251, 61, 61, 0.76);
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homizer-item {
  background-color: rgba(90, 173, 245, 0.76);
  margin: 10px;
  padding: 1px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}

.homizer-item-content {
  display: flex;
  width: 100%;
  align-items: center;
}

.homizer-item-text {
  flex: 2;
  text-align: left;
  margin-left: 10px;
}

.homizer-item-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.homizer-item-image img {
  max-height: 130px;
  max-width: 130px;
  border-radius: 5px;
}

.item-filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: -20px;
}
