
.homizer-choice {
    display: flex;
    color: aliceblue;
    margin-top: 10px
}

.homizer-choice-pannel {
    width: 50%;
    text-align: center;
    background-color: blue;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

.homizer-choice-pannel.selected {
    background-color: rgb(255, 0, 0);
}

