<app-homizer-header></app-homizer-header>

<div *ngIf="homizerItems">
  <ul>
    <li *ngFor="let homizerItem of homizerItems">
      <p>Name: {{ homizerItem.name }}</p>
      <p>Description: {{ homizerItem.description }}</p>
      <p>Image: {{ homizerItem.image }}</p>
      <p>Number: {{ homizerItem.number }}</p>
    </li>
  </ul>
</div>












<!-- <div>
    <input type="text" [(ngModel)]="homizerItem.name" placeholder="Name">
</div>
<div>
    <input type="text" [(ngModel)]="homizerItem.description" placeholder="Description">
</div>
<div>
    <input type="text" [(ngModel)]="homizerItem.image" placeholder="Image URL">
</div>
<div>
    <input type="number" [(ngModel)]="homizerItem.number" placeholder="Number">
</div>
<div>
    <button (click)="onSaveHomizerItem(homizerItem.name, homizerItem.description, homizerItem.image, homizerItem.number)">
        Add
    </button>
</div> -->