.homizer-header {
  background-color: rgba(0, 162, 255, 0.726);
  font-size: 50px;
  display: flex;
  height: 100px;
  margin: 10px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
}

