.homizer-header {
  background-color: rgb(55, 69, 112);
  font-size: 50px;
  display: flex;
  height: 100px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

