.header-home {
    background-color: red;
    color: blue;
    text-align: center;
    font-size: 50px;
    padding: 10px;
}

.apps {
    justify-content: center;
    display: grid;
}

.homizer-app {
    background-color: green;
    color: blue;
    text-align: center;
    font-size: 50px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    width: 250px;
    border-radius: 25px;
}