<app-header title="Homizer"></app-header>
<div class="input">
  <div>
    <mat-form-field class="input-field">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="registerData.email">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="input-field">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="registerData.password" [type]="'password'"/>
    </mat-form-field>
  </div>
  <mat-form-field class="input-field">
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="registerData.passwordRepeat" [type]="'password'"/>
  </mat-form-field>
  <div>
    <button mat-raised-button routerLink="/register"
            (click)="onSendRegister(registerData.email, registerData.password, registerData.passwordRepeat)">
      <mat-icon>how_to_reg</mat-icon>
      New Account
    </button>
  </div>
</div>
