<app-header title="Homizer-Storage"></app-header>
<div class="homizer-input">
  <div class="input">
    <mat-form-field class="input-field">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="homizerStorage.name">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="input-field">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="homizerStorage.description">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="input-field">
      <mat-label>Number</mat-label>
      <input matInput [(ngModel)]="homizerStorage.number">
    </mat-form-field>
  </div>
  <div class="homizer-button">
    <button mat-flat-button
            (click)="onSavehomizerStorage(homizerStorage.name, homizerStorage.description, homizerStorage.image, homizerStorage.number)">
      Add
    </button>
  </div>
  <div class="homizer-button">
    <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="onFileSelected($event)"/>
    <button mat-flat-button color="primary" (click)="csvInput.click()">Add a picture</button>
  </div>
  <div *ngIf="homizerStorage.image">
    <label>Picture added!</label>
  </div>
</div>

<app-navigation-bar title="homizer-storage"></app-navigation-bar>
