<app-header title="Homizer-Storage"></app-header>
<div class="homizer-input">
  <div class="section">
    <mat-form-field class="input-field">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="homizerStorage.name">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="input-field">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="homizerStorage.description">
    </mat-form-field>
  </div>
  <div class="homizer-button">
    <button mat-raised-button
            (click)="onSavehomizerStorage(homizerStorage.name, homizerStorage.description, homizerStorage.image)">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </div>
  <div class="homizer-button">
    <input #csvInput hidden="hidden" type="file" onclick="this.value=null" (change)="onFileSelected($event)"/>
    <button mat-raised-button (click)="csvInput.click()">
      <mat-icon>attach_file_add</mat-icon>
      Add a picture
    </button>
  </div>
  <div *ngIf="homizerStorage.image">
    <label>Picture added!</label>
  </div>
</div>

<app-navigation-bar title="homizer-storage"></app-navigation-bar>
