body {
  background-color: rgba(20, 27, 39, 0.94);
  margin: 0;
  display: grid;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.homizer-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.homizer-button {
  margin: 10px;
}

.input-field {
}

.add-button {
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
