body {
  background-color: rgba(20, 27, 39, 0.94);
  margin: 0;
  display: grid;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.homizer-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.homizer-button {
  margin: 10px;
  display: flex;
  gap: 20px;
}
